body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    height: 520px;
    border: solid black 1px;
    flex: 0 0 auto;
}

.gridSquare{
    height: auto; 
    margin: 0px;
    padding: 0px;
    border: #0CCE6B solid 1px; margin: 0px;
    flex: 1 1 auto;
}

button{
    background: none;
    background-color:#AF9AB2 ;
    border: rgb(203, 198, 198) solid 1px;
    margin-top: 100px;
    font-size: 40px;
    font-weight: 700px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: black 2px 5px;
}


#buttonContainer{
    display: flex;
    width: 600px;
    height: 420px;
    justify-content: center;
    align-items: flex-start;
} 

#divline{
    display: flex;
    flex: 1 1 auto; 
}